tensorflow==2.15.0
pandas 
numpy 
scikit-learn
tensorboard
matplotlib
streamlit
scikeras
nltk
streamlit
googletrans==4.0.0-rc1
streamlit
transformers
torch
sentencepiece
requests
dotenv
langchain
python-dotenv
ipykernel
langchain-community
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
langchain_chroma
pandas
langchain-groq
pymupdf
mysql-connector-python
SQLAlchemy
validators==0.28.1
unstructured
pytube
numexpr
huggingface_hub